*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.input{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    outline: none;
}
.input-adress{
    max-width: 690px;
    width: 100%;
    padding: 8px 12px 8px 32px;
    background: url(../img/house.svg) no-repeat 10px center;
}
.input-adress::placeholder{
    color:#BFBFBF;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__header{
    margin-top: 44px;
    margin-bottom: 40px;
}

.logo{
    max-height: 40px;
}

.logo__img{
max-height: 40px;
}

.button{
    padding: 8px 19px 8px 33px;
    border: none;
    border-radius: 2px;
    margin-left: 20px;
}

.button__man{
    background: url(../img/man.svg) no-repeat 16px center;
}
.button--primary{
    background-color: #1890FF;
    color:white;
    border: 1px solid #1890FF;
}
.button__cart{
    background: url(../img/korzina.svg) no-repeat 16px center;
}

.button--secondary{
    border: 1px solid #D9D9D9;
}